Power Apps YAML DEMO/Accounts/pkgs/Wadl/MicrosoftTranslatorV2.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://brazil-001.azure-apim.net/apim/translatorv2" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="MicrosoftTranslatorV2" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Microsoft Translator V2">Microsoft Translator lets you translate text across multiple languages.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://brazil-001.azure-apim.net/apim/translatorv2" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="TextBody_Text_def" />
      <object name="TextBody">
        <property name="Text" type="string" />
      </object>
      <string name="Language_Code_def" />
      <string name="Language_Name_def" />
      <object name="Language">
        <property name="Code" type="string" />
        <property name="Name" type="string" />
      </object>
      <array typeRef="Language" name="Languages_responses_200_def" />
      <string name="Translate_responses_200_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://brazil-001.azure-apim.net/apim/translatorv2">
    <resource path="/{connectionId}/Languages">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="Languages" actionName="Languages" visibility="advanced" siena:isDeprecated="false">
        <doc title="Get languages&#xA;Retrieves all languages that Microsoft Translator supports for translation, transliteration or dictionary scopes" />
        <request>
          <param style="query" name="scope" type="xs:string" default="translation">
            <doc title="The scope of supported languages: translation, transliteration or dictionary" />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Languages_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/Translate">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Translate" actionName="Translate" visibility="important" siena:isDeprecated="false">
        <doc title="Translate text&#xA;Translates text to a specified language using Microsoft Translator." />
        <request>
          <param style="query" name="to" type="xs:string" required="true">
            <doc title="The target language code (example: 'fr')." />
          </param>
          <param style="query" name="from" type="xs:string">
            <doc title="The source language (if not provided, Microsoft Translator will try to auto-detect) (example: en)." />
          </param>
          <param style="query" name="category" type="xs:string">
            <doc title="The translation category (default: 'general')." />
          </param>
          <param style="query" name="textType" type="xs:string">
            <doc title="The text type (default: 'plain')." />
            <option value="plain" />
            <option value="html" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Text" path="/Text" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="xs:string" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/Detect">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Detect" actionName="Detect" visibility="important" siena:isDeprecated="false">
        <doc title="Detect language&#xA;Detects the source language of the given text." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="Text" path="/Text" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:Language" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_translatorv2" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>